@import "plugins";

.activity-item:not(.activityinline) {
    border: none;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.activity-item.activityinline {
    padding-left: 1.5rem;
}

.activityiconcontainer {
    width: 40px;
    height: 40px;
}

.course-content .activity-instance .media-body > .text-uppercase.small,
.page-context-header .page-header-headings > .text-uppercase.small {
    display: none;
}

.description .course-description-item:last-child {
  padding-bottom: .5rem;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.description .course-description-item:first-child {
  margin-top: .5rem;
  padding-top: .5rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.description .course-description-item {
  padding-left: .5rem;
  padding-right: .5rem;
}

.course_category_tree .category-browse .coursebox {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--secondary);
}
